<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
</head>

<body>

  <h1>Hello World!</h1>

  <ul>
    {{#each todo}}
      <li>
        <span class="title">{{title}}</span>
        <button data-id="{{id}}">Hapus</button>
      </li>
    {{/each}}
  </ul>

</body>

</html>