*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-weight: 700;
  color: #212952
}

h1,
.h1 {
  font-size: 1.9rem
}

h2,
.h2 {
  font-size: 1.7rem
}

h3,
.h3 {
  font-size: 1.5rem
}

h4,
.h4 {
  font-size: 1.4rem
}

h5,
.h5 {
  font-size: 1.3rem
}

h6,
.h6 {
  font-size: 1.2rem
}

a {
  color: #2C4BFF;
  text-decoration: none
}

a:hover {
  opacity: .7;
  transition: opacity .15s
}

table {
  border-spacing: 0
}

iframe {
  max-width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto
}

input,
button,
select,
textarea {
  font: inherit;
  font-size: 100%;
  color: inherit;
  line-height: normal;
  vertical-align: baseline
}

img {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto
}

figure {
  margin: 20px auto;
  text-align: center
}

svg {
  width: 20px;
  height: 20px;
  fill: #7e86aa
}

svg.line,
svg .line {
  fill: none !important;
  stroke: #7e86aa;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1
}

/* Main Element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden
}

body {
  position: relative;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #535264;
  background-color: #d6def5;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  transition: .1s ease
}

.container {
  position: relative;
  width: calc(380px - 60px);
  height: 98vh;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #f8f9fd;
  border-radius: 24px;
}

/* Header section */
.header-wrap {
  position: relative;
  width: 100%;
}

.header-wrap, .header-wrap > * {
  display: flex;
  align-items: center;
}

.header-wrap {
  justify-content: space-between;
  height: 100px;
}

.header-wrap .icon {
  display: flex;
  align-items: center;
}

/* Main section */
.todo-title h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

.todo-subtitle h2 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #99a0c4;
  margin-bottom: 20px;
}

.todo-container {
  background-color: #ffffff;
  padding:10px 20px;
  border-radius: 24px;
  font-size: 14px;
}

.todo-container ul {
  counter-reset: todo-counter;
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-container ul li {
  padding: 10px 0
}

.todo-container .link {
  display: flex;
  color: #535264
}

.todo-container .link .text {
  flex: 1 0;
  width: calc(100% - 25px);
}

.todo-container .link::before {
  flex-shrink: 0;
  content: counter(todo-counter) '.';
  counter-increment: todo-counter;
  width: 25px;
  opacity: .8;
}

.todo-data {
  /* Soon */
}

.todo-add {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999
}

.todo-add .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #076aff;
  border-radius: 500px;
  box-shadow: 0 12px 10px rgba(7, 106, 255, .25);
}

.todo-add svg {
  width: 20px;
  height: 20px;
  fill: #ffffff
}

.todo-404 {
  height: 100vh;
  display: flex;
}

.todo-error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todo-error404 h1 {
  font-size: 5rem;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.todo-error404 h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.todo-error404 p {
  font-size: .9rem;
  line-height: 1.5em;
  margin: 1.2rem 0 1.7rem;
}

.todo-error404 a {
  display: inline-block;
  padding: 12px 20px;
  margin: 0 auto;
  background: #212952;
  color: #ffffff;
  border-radius: 500px;
  font-size: .7rem;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .app {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}