*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-weight: 700;
  color: #212952
}

h1,
.h1 {
  font-size: 1.9rem
}

h2,
.h2 {
  font-size: 1.7rem
}

h3,
.h3 {
  font-size: 1.5rem
}

h4,
.h4 {
  font-size: 1.4rem
}

h5,
.h5 {
  font-size: 1.3rem
}

h6,
.h6 {
  font-size: 1.2rem
}

a {
  color: #2C4BFF;
  text-decoration: none
}

a:hover {
  opacity: .7;
  transition: opacity .15s
}

table {
  border-spacing: 0
}

iframe {
  max-width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto
}

input,
button,
select,
textarea {
  font: inherit;
  font-size: 100%;
  color: inherit;
  line-height: normal;
  vertical-align: baseline
}

img {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto
}

figure {
  margin: 20px auto;
  text-align: center
}

svg {
  width: 20px;
  height: 20px;
  fill: #7e86aa
}

svg.line,
svg .line {
  fill: none !important;
  stroke: #7e86aa;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1
}

.hidden {
  display: none;
}

/* Main Element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden
}

body {
  position: relative;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #535264;
  background-color: #d6def5;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  overflow: hidden;
  transition: .1s ease;
}

.container {
  position: relative;
  width: calc(380px - 60px);
  height: 98vh;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #f8f9fd;
  border-radius: 24px;
}

/* Header section */
.header-wrap {
  position: relative;
  width: 100%;
}

.header-wrap, .header-wrap > * {
  display: flex;
  align-items: center;
}

.header-wrap {
  justify-content: space-between;
  height: 100px;
}

.header-wrap .icon {
  display: flex;
  align-items: center;
}

/* Main section */
.todo-title h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

.todo-subtitle h2 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #99a0c4;
  margin-bottom: 20px;
}

.todo-container {
  height: 390px;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.todo-container ul {
  counter-reset: todo-counter;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

.todo-container ul li {
  padding: 8px 0
}

.todo-container .completed {
  text-decoration: line-through;
  opacity: .5;
}

.todo-container .link {
  display: flex;
  color: #535264
}

.todo-container .link .text {
  flex: 1 0;
  width: calc(100% - 25px);
}

.todo-container .link::before {
  flex-shrink: 0;
  content: counter(todo-counter) '.';
  counter-increment: todo-counter;
  width: 25px;
  opacity: .8;
}

.todo-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.todo-container:hover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.todo-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.15);
  border-radius: 10px;
}

.todo-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.25);
}

.todo-container::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,.25);
}

.todo-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.todo-form form {
  width: 100%;
  font-size: 13px;
}

.todo-form form > *:not(:last-child) {
  margin-bottom: 20px;
}

.todo-form .form-text input[type=text] {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  outline: none;
  padding: 12px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.todo-form .form-text label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.todo-form .form-checkbox label {
  position: relative;
  display: flex;
  align-items: center;
}

.todo-form .form-checkbox label::before {
  flex-shrink: 0;
  content: '';
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #212952;
  border-radius: 4px;
  margin-right: 5px;
}

.todo-form .form-checkbox input:checked ~ label::before {
  background-color: #212952;
}

.todo-form .form-checkbox input:checked ~ label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 4px;
  height: 8px;
  border-width: 0 1px 1px 0;
  border-color: white;
  border-style: solid;
  transform: rotate(45deg);
}

.todo-form .form-button {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.todo-form .form-button button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 10px;
  border-radius: 6px;
  background-color: #212952;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.todo-data {
  font-size: 13px;
}

.todo-data table {
  width: 100%;
  margin-bottom: 40px;
  line-height: 1.4em;
}

.todo-data table tr:last-child td {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.todo-data table tr td:first-child {
  border-left: 1px solid rgba(0, 0, 0, .15);
}

.todo-data table tr:first-child td:first-child {
  border-radius: 6px 0 0 0;
}

.todo-data table tr:first-child td:last-child {
  border-radius: 0 6px 0 0;
}

.todo-data table tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}

.todo-data table tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}

.todo-data table td {
  border-top: 1px solid rgba(0, 0, 0, .15);
  border-right: 1px solid rgba(0, 0, 0, .15);
  padding: 12px 10px
}

.todo-action {
  position: absolute;
  left: 0;
  bottom: 25px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.todo-action .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 12px 10px;
  font-size: 13px;
  color: #ffffff;
  background-color: #8d1111;
  border-radius: 0 6px 6px 0;
}

.todo-action .btn.update {
  border-radius: 6px 0 0 6px;
  background-color: #145e24;
}

.todo-add {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999
}

.todo-add .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #076aff;
  border-radius: 500px;
  box-shadow: 0 12px 10px rgba(7, 106, 255, .25);
}

.todo-add svg {
  width: 20px;
  height: 20px;
  fill: #ffffff
}

.todo-404 {
  height: 100vh;
  display: flex;
}

.todo-error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todo-error404 h1 {
  font-size: 5rem;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.todo-error404 h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.todo-error404 p {
  font-size: .9rem;
  line-height: 1.5em;
  margin: 1.2rem 0 1.7rem;
}

.todo-error404 a {
  display: inline-block;
  padding: 12px 20px;
  margin: 0 auto;
  background: #212952;
  color: #ffffff;
  border-radius: 500px;
  font-size: .8rem;
}

/* Responsive */
@media screen and (min-width: 480px) {
  .app {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}