<div class="todo-content">
  <div class="todo-container">
    <div class="todo-data">
      <table>
        <tr>
          <td>Title</td>
          <td>{{title}}</td>
        </tr>

        <tr>
          <td>Title</td>
          <td>{{title}}</td>
        </tr>
      </table>
    </div>

    <div class="todo-action">
      <a href="#" class="btn" role="button">
        <span class="text">Delete</span>
      </a>
    </div>
  </div>
</div>