<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="app">
    <div class="container">
    {{#if status}}
      <header class="header-wrap">
        <div class="header-left">
          {{#if home}}
            <div class="icon">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="3" x2="21" y1="12" y2="12"></line>
                <line x1="3" x2="21" y1="5" y2="5"></line>
                <line x1="3" x2="21" y1="19" y2="19"></line>
              </svg>
            </div>
          {{else}}
            <a href="/" class="icon">
              <svg class="line" viewBox="0 0 24 24">
                <g transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)">
                  <line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75"/>
                  <polyline points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"/>
                </g>
              </svg>
            </a>
          {{/if}}
        </div>

        <div class="header-right">

        </div>
      </header>

      <main class="main-wrap">
    {{/if}}

        {{{body}}}
        
    {{#if status}}
      </main>
    {{/if}}
    </div>
  </div>
</body>

</html>